.widget-container {
  display: flex;
  flex-direction: column;
  height: 10em;
  width: 90%;
  margin: 0;
  padding: 5%;
  background-color: rgba(255,255,255, .2);
  border: 1px solid white;
  border-radius: 10px;

  .widget-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1em
  }

  .widget-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5em;
    row-gap: .25em
  }

  h1 {
    font-size: 1em;
    margin-top: .3em;

  }

  h2 {
    font-size: .5em;
  }

  img {
    height: 2em;
    width: 2em;
    margin-left: 1.5em;
  }

  .favorite {
    width: 4em;
    margin: auto 0 0 auto;
    font-size: .45em;
    text-align: center;
    border-radius: 2px;
    padding: 1px;
    cursor: pointer;
    text-shadow: 1px 1px black,
                 -1px 1px black,
                 1px -1px black,
                 -1px -1px black
  }

  .favorited-coin {
    background-color: rgba(255, 215, 0, .5)
  }

  .unfavorited-coin {
    background-color: rgba(255,255,255, .5)
  }

  .positive {
  color: #00ff00;
}

.negative {
  color: #FF3131;
}
}
