.dashboard {
  margin: 8vh;
  display: flex;
  flex-direction: column;


  .currency-selection {
    display: flex;
    margin-bottom: 2em;

    h2 {
      display: flex;
      font-size: 1em;
      margin-right: .2em;
      align-items: center;
    }

    select {
      margin-right: 2em;
    }
  }


}
