.dashboard {
  margin: 8vh;
  display: flex;
  flex-direction: column;

  .currency-selection {
    display: flex;
    margin-bottom: 2em;

    h2 {
      display: flex;
      font-size: 1em;
      margin-right: .2em;
      align-items: center;
    }

    select {
      margin-right: 2em;
    }
  }

  .coin-list {
    text-align: center;
  }

}

.error {
  position: fixed;
  top: 20vh;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1em;
  background: rgba(240, 128, 128, .5);
  padding: 2em;
  border-radius: 5px;
}
